---
layout: default
---

<img src="/assets/images/pythontoexcelw2.png">
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <p>This is Python Excels, a series of blog posts that describe different techniques for automating tasks in Excel with the Python language.</p>

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <ul class="post-list">
      {%- for post in site.posts reversed -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}
        {% if post.updated %}
         (Updated {{ post.updated | date: date_format }})
        {% endif %}
</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <!-- <p class="feed-subscribe"> -->
    <!--   <a href="{{ 'feed.xml' | relative_url }}"> -->
    <!--     <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span> -->
    <!--   </a> -->
    <!-- </p> -->
  {%- endif -%}

</div>
